<h1><%= t('.dashboard_logged_in') %></h1>

<p><%= t('.logged_in_1') %><%= current_organisation.organisation_name %><%= t('.logged_in_2') %></p>

<!-- place stuff from previous surveys here -->

<%= link_to t('.start'), new_registration_path, class: "btn btn-default" %>
<!-- this link should have edit_registration_path (needs to be created!) -->