<h1><%= t('.dashboard_logged_in') %></h1>

<p><%= t('.logged_in_1') %><%= current_organisation.organisation_name %><%= t('.logged_in_2') %></p>

<!-- hier könnte noch etwas von vorherigen Umfragen gezeigt werden -->

<%= link_to t('.start_new'), edit_registration_path, id: "new-button", class: "btn btn-default" %>
<% unless @organisation_survey.blank? %>
  <%= link_to t('.start_edit'), edit_registration_path, id: "edit-button", class: "btn btn-default" %>
<% end %>
