<h1><%= t('.morequestions') %></h1>
<%= t('.morequestions_question') %>
<br />
<br />
<%= link_to t('.back'), edit_question_path(9), class: "btn btn-default" %>
<span class="pull-right visible-desktop">
<% if session[:edit_survey] == "y" %>
  <%= link_to t('.start'), edit_question_path(10), class: "btn btn-default" %>
<% else %>  
  <%= link_to t('.start'), new_question_path(10), class: "btn btn-default" %>
<% end %> 	
<%= link_to t('.evaluation'), evaluation_index_path, class: "btn btn-default" %>
</span>

