<div id="listcontainer">
    <ul id="list">
      <% @nace_codes.roots.each do |nace_code| %>
         <li> <%= nace_code.code + " - " + nace_code.description %>
            <% unless nace_code.children.empty? %>
               <ul> 
                 <% nace_code.children.each do |nace_code_sub| %>
                    <li> <%= nace_code_sub.code + " - " + nace_code_sub.description %>
                      <% unless nace_code_sub.children.empty? %>
                        <ul> 
                          <% nace_code_sub.children.each do |nace_code_sub2| %>
                            <li> <%= nace_code_sub2.code + " - " + nace_code_sub2.description %>
                              <% unless nace_code_sub2.children.empty? %>
                                <ul> 
                                  <% nace_code_sub2.children.each do |nace_code_sub3| %>
                                    <li> <%= nace_code_sub3.code + " - " + nace_code_sub3.description %>
                                      <% unless nace_code_sub3.children.empty? %>
                                        <ul>
                                          <% nace_code_sub3.children.each do |nace_code_sub4| %>
                                            <li>
                                              <%= nace_code_sub4.code + " - " + nace_code_sub4.description %> 
                                              <%= f.radio_button :nace_code_id, nace_code_sub4.id %>
                                            </li>                                 
                                          <% end %>
                                        </ul>
                                      <% end %>
                                    </li>
                                  <% end %>
                                 </ul>
                               <% end %>
                            </li>
                          <% end %>
                        </ul>
                      <% end %>
                    </li>
                 <% end %>
               </ul>
            <% end %>
         </li>
      <% end %>
    </ul>
  </div>
  <%= link_to t('.back'), edit_registration_url(current_organisation.login_token), class: "btn btn-default" %>
  <span class="pull-right visible-desktop">
    <%= f.submit t('.submit'), class: 'btn btn-default' %>
  </span>