<h1>Registrierung</h1>
<p>Bevor Sie die Umfrage starten müssen Sie noch einige Angaben zu Ihrer Organisation und einem Ansprechpartner machen.</p>

<%= form_for @organisation, url: registrations_path, html: {class: 'form-horizontal', role: 'form'} do |f| -%>

  <% if @organisation.errors.any? %>
    <div class="alert alert-danger">
      Bitte überprüfen Sie die rot markierten Felder.
    </div>
  <% end %>

  <table>
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Angaben zur Organisation</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :organisation_name, "Name der Organisation" -%>
              <%= f.text_field :organisation_name, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <label>Standort</label><br/>
              <%= f.label :organisation_street, "Straße" -%>
              <%= f.text_field :organisation_street, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :organisation_street_number, "Hausnummer" -%>
              <%= f.text_field :organisation_street_number, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :organisation_zipcode, "Postleitzahl" -%>
              <%= f.text_field :organisation_zipcode, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :organisation_city, "Stadt" -%>
              <%= f.text_field :organisation_city, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :organisation_country, "Land" -%>
              <%= f.select :organisation_country, Organisation::COUNTRIES, {prompt: "Bitte auswählen..."},
              {class: "decorated form-control"} %>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Angaben zum Ansprechpartner</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :user_form_of_address, "Anrede" -%>
              <%= f.select :user_form_of_address, Organisation::FORMS_OF_ADDRESS, {prompt: "Bitte auswählen..."},
              {class: "decorated form-control"} %>
            </div>
            <div class="form-group">
              <%= f.label :user_title, "Titel" -%>
              <%= f.text_field :user_title, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :user_first_name, "Vorname" -%>
              <%= f.text_field :user_first_name, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :user_last_name, "Nachname" -%>
              <%= f.text_field :user_last_name, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :user_birthday, "Geburtsdatum" -%>
              <%= f.text_field :user_birthday, class: 'form-control' -%>
              <!-- date_field does not work -->
            </div>
            <div class="form-group">
              <%= f.label :user_phone, "Telefon" -%>
              <%= f.text_field :user_phone, class: 'form-control' -%>
              <!-- telephone_field does not work -->
            </div>
            <div class="form-group">
              <%= f.label :user_fax, "Fax" -%>
              <%= f.text_field :user_fax, class: 'form-control' -%>
            </div>
            <div class="form-group">
              <%= f.label :user_email, "E-Mail-Adresse" -%>
              <%= f.email_field :user_email, class: 'form-control' -%>
              <!-- email_field does work - why does email work but date and telephone does not?-->
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <span class="pull-right visible-desktop">
  <!-- link to nace code -->
    <%= f.submit t('.submit_create'), class: 'btn btn-default' -%>
  </span>
<% end -%>




