<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EnviroPoll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="header">
      <%= "EnviroPoll" %>
    </div>
  </div>

  <div id="main">
    <% flash.each do |name, msg| -%>
      <div class="alert alert-default"><%= content_tag :div, msg, class: name %></div>
    <% end -%>
    <%= yield %>
  </div>

  <div id="footer">
    © 2014 Siimbyant UG
    <span class="pull-right visible-desktop">
      <%= t('.show_login') + current_organisation.organisation_name unless current_organisation.blank? %>
      <%= "|" unless current_organisation.blank? %>
      <%= link_to t('.start'), root_path, class: "greylink" if current_organisation.blank? %>
      <%= link_to t('.start'), authenticate_dashboard_url(current_organisation.login_token), class: "greylink" unless current_organisation.blank? %>
      |
      <%= link_to t('.sendloginmail'), send_login_mails_new_path, class: "greylink" %>
      |
      <%= link_to t('.impressum'), static_pages_impressum_path, class: "greylink" %>
    </span>
  </div>

</body>
</html>
