<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EnviroPoll</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="<%= controller.controller_name %>">

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="header">
      <!-- <%= image_tag("logo.png") %> -->
      <%= @page_title || "EnviroPoll" %>
    </div>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    © 2014 Siimbyant UG
    <span class="pull-right visible-desktop">
      <a href="dashboard_index_path" class="colored"><span class="linkgrey">Start</span></a>
      |
      <a href="impressum_index_path" class="colored"><span class="linkgrey">Impressum</span></a>
    </span>
  </div>

</body>
</html>
